@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 834px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

@media (max-width: 834px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 27px;
    right: 30.25px;
    width: 27.5px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #4d4959;
  }
  .icon-menu span {
    top: 8.7px;
  }
  .icon-menu::before {
    content: "";
    top: 0px;
  }
  .icon-menu::after {
    content: "";
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active {
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transform: rotate(90deg);
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  font-size: 0;
}

.header__slider {
  position: relative;
}
.header__slider .slick-arrow.slick-prev {
  display: none !important;
}
.header__slider .slick-arrow.slick-next {
  position: absolute;
  right: 0;
  bottom: 32px;
  font-size: 0;
  width: 70px;
  height: 61px;
  background: url("../img/icons/header/arrow.svg") 50% 0 no-repeat;
}
.header__slider .slick-arrow.slick-next::after {
  content: "Next slide!";
  font-weight: 300;
  font-size: 13px;
  line-height: 15.85px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn {
  display: inline-block;
  border: 1px solid #372317;
  border-radius: 20px 0px 0px 20px;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  height: 50px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0px 20px;
  border-top: 1px solid #000;
  background-color: #f8f7f7;
}
.input:focus {
  border: 1px solid #000;
}

textarea.input {
  resize: none;
  height: 117px;
  padding: 10px 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  font-size: 0;
  flex-direction: column;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 5px;
}
@media (max-width: 1242px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

.header__row {
  display: flex;
  font-size: 0;
  align-items: center;
  height: 100px;
}
@media (max-width: 834px) {
  .header__row {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 72px;
    background-color: #fff;
  }
}
@media (max-width: 428px) {
  .header__row {
    height: 64px;
  }
}
.header__column {
  flex: 0 1 22%;
}
.header__column:nth-child(2) {
  flex: 0 1 56%;
}
.header__logo a {
  font-weight: 500;
  font-size: 18px;
  color: #372317;
}
@media (max-width: 834px) {
  .header__logo {
    position: absolute;
    z-index: 6;
    top: 25px;
    left: 24px;
  }
}
@media (max-width: 428px) {
  .header__logo {
    top: 22px;
  }
}
.header__icons {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
}
.header__item {
  position: relative;
  width: 32px;
  height: 32px;
}
.header__item:last-child {
  margin: 0px 0px 0px 25px;
}
.header__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 834px) {
  .header__item {
    position: absolute;
    top: 20px;
    right: 93px;
  }
  .header__item:last-child {
    display: none;
  }
}
@media (max-width: 428px) {
  .header__item {
    top: 15px;
    right: 76px;
  }
}
.header__slider {
  margin: 57px 0px 0px 0px;
}
.header__slider > span {
  position: absolute;
  top: -115px;
  right: 417px;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: rgba(246, 218, 204, 0.5);
  border-radius: 50%;
}
.header__slider::before, .header__slider::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.header__slider::before {
  top: -15px;
  right: 434px;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: rgba(246, 218, 204, 0.8);
}
.header__slider::after {
  top: -200px;
  right: -5px;
  z-index: -1;
  width: 400px;
  height: 400px;
  background: rgba(246, 218, 204, 0.89);
}
@media (max-width: 1242px) {
  .header__slider {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 834px) {
  .header__slider {
    margin: 120px 0px 0px 0px;
  }
  .header__slider::before, .header__slider::after, .header__slider > span {
    display: none;
  }
}
@media (max-width: 428px) {
  .header__slider {
    margin: 104px 0px 0px 0px;
  }
}
@media (max-width: 834px) {
  .header {
    background-color: rgba(255, 215, 197, 0.1);
  }
}

@media (max-width: 428px) {
  .menu__icon {
    top: 23.5px;
    right: 21px;
  }
}
.menu__list {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
}
.menu__list li {
  margin: 0px 25px;
}
.menu__list li:first-child {
  display: none;
}
.menu__list li:nth-child(2) {
  margin-left: 0;
}
.menu__list li:last-child {
  margin-right: 0;
}
@media (max-width: 992.98px) {
  .menu__list li {
    margin: 0px 10px;
  }
}
.menu__link {
  font-size: 15px;
  font-weight: 400;
  color: #372317;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #EABEAB;
}
@media (max-width: 834px) {
  .menu__list {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    background: #fff;
    width: 390px;
    transform: translate3d(100%, 0, 0);
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
  }
  .menu__list.active {
    transform: translate3d(0, 0, 0);
  }
  .menu__list li {
    margin: 0px 0px;
  }
  .menu__list li:nth-child(1) {
    display: block;
    background: url("../img/header/menu/profile.svg") left/32px no-repeat;
  }
  .menu__list li:nth-child(2) {
    background: url("../img/header/menu/home.svg") left/32px no-repeat;
  }
  .menu__list li:nth-child(3) {
    background: url("../img/header/menu/about.svg") left/32px no-repeat;
  }
  .menu__list li:nth-child(4) {
    background: url("../img/header/menu/services.svg") left/32px no-repeat;
  }
  .menu__list li:nth-child(5) {
    background: url("../img/header/menu/stock.svg") left/32px no-repeat;
  }
  .menu__list li:nth-child(6) {
    background: url("../img/header/menu/contacts.svg") left/32px no-repeat;
  }
  .menu__list li:active {
    background-color: rgb(255, 245, 240);
  }
  .menu__list .profile-clone {
    font-size: 15px;
    font-weight: 400;
    color: #372317;
    display: block;
    padding: 17px 0px 17px 40px;
    pointer-events: none;
  }
  .menu__link {
    display: block;
    padding: 17px 0px 17px 40px;
    color: #372317 !important;
  }
}
@media (max-width: 428px) {
  .menu__list li:nth-child(2) {
    display: none;
  }
}

.slider__row {
  display: flex;
  font-size: 0;
  align-items: flex-end;
}
@media (max-width: 992.98px) {
  .slider__row {
    align-items: flex-start;
  }
}
.slider__content {
  max-width: 45%;
  padding: 0px 0px 25px 2px;
}
.slider__title {
  margin: 0px 0px 20px 0px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58.51px;
}
.slider__title span {
  color: #EABEAB;
}
.slider__text {
  margin: 0px 0px 60px 0px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.slider__button {
  height: 54px;
  padding: 0px 47px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.slider__button span {
  font-size: 20px;
  font-weight: 300;
  line-height: 54px;
  color: #372317;
}
.slider__button:hover {
  background-color: rgba(246, 218, 204, 0.6);
}
.slider__button:active {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  background-color: #EABEAB;
}
.slider__button:active span {
  color: #fff;
}
.slider__image {
  margin: 0px 0px 0px 124px;
}
.slider__image img {
  max-width: 100%;
}
@media (max-width: 1242px) {
  .slider__title {
    margin: 0px 0px 16px 0px;
  }
  .slider__text {
    margin: 0px 0px 40px 0px;
  }
  .slider__image {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 834px) {
  .slider__row {
    display: block;
  }
  .slider__item:nth-child(2), .slider__item:nth-child(3) {
    display: none;
  }
  .slider__content {
    max-width: none;
    text-align: center;
    padding: 0px 0px 48px 0px;
  }
  .slider__title {
    max-width: 482px;
    margin: 0 auto 16px;
  }
  .slider__text {
    font-size: 18px;
    max-width: 635px;
    margin: 0 auto 40px;
  }
  .slider__image {
    display: none;
  }
}
@media (max-width: 428px) {
  .slider__content {
    padding: 0px 0px 32px 0px;
  }
  .slider__title {
    font-size: 36px;
    line-height: 43.88px;
    margin: 0 auto 8px;
  }
  .slider__text {
    font-size: 14px;
    line-height: 17.07px;
  }
  .slider__button {
    height: 47px;
  }
  .slider__button span {
    font-size: 16px;
    line-height: 45px;
  }
}