//button
.btn{
	display: inline-block;
	border-radius: 20px 0px 0px 20px;
	@include anim(0.3s,0s);
	span{
		font-size: 20px;
		font-weight: 300;
		color: #372317;
	}
	&:hover{
		background-color: rgba(246, 218, 204, 0.6);
	}
	&:active{
		@include anim(0.3s,0s);
		background-color: #EABEAB;
		span{
			color: #fff;
		}
	}
}

//<input>
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input{
	height: 50px;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	font-size: 15px;
	padding: 0px 20px;
	border-top: 1px solid #000;
	background-color: #f8f7f7;
	&:focus{
		border: 1px solid #000;
	}
}
textarea.input{ 
	resize: none;
	height: 117px;
	padding: 10px 20px;
}
