//Шрифти
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

//Шрифт за замовчуванням
$fontfamily: 'Montserrat';

//Змінні
$minwidth:320px;
$mw:1230;
$md1:$mw+12;
$md2:992.98px;
$md3:834px;
$md4:428px;

//Скидування стилів
@import "nullstyle.scss";

//Імпортовані стилі
@import "mixins";
@import "ui";
@import "menu-burger";
@import "slick-slider";
@import "forms";

//Оболонка
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	@include flexbox();
	flex-direction: column;
	&.loaded{}
}

//Основна сітка
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2){max-width: 750px;}
	@media (max-width:$md3){max-width: none;padding: 0 10px;}
}

//====================================================================================================
.header {
	// .header__row
	&__row {
		@include flexbox();
		align-items: center;
		height: 100px;
		@media (max-width:$md3){
			position: fixed;
			top: 0;
			left: 0;
			z-index: 5;
			width: 100%;
			height: 72px;
			background-color: #fff;
		}
		@media (max-width:$md4){
			height: 64px;
		}
	}

	// .header__column
	&__column {
		flex: 0 1 22%;
		&:nth-child(2){
			flex: 0 1 56%;
		}
	}

	// .header__logo
	&__logo {
		a{
			font-weight: 500;
			font-size: 18px;
			color: #372317;
		}
		@media (max-width:$md3){
			position: absolute;
			z-index: 6;
			top: 50%;
			left: 24px;
			margin: -9px 0px 0px 0px;
		}
	}

	// .header__icons
	&__icons {
		@include flexbox();
		justify-content: flex-end;
	}

	// .header__item
	&__item {
		position: relative;
		width: 32px;
		height: 32px;
		&:last-child{
			margin: 0px 0px 0px 25px;
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		@media (max-width:$md3){
			position: absolute;
			top: 50%;
			right: 93px;
			width: 40px;
			height: 40px;
			margin: -20px 0px 0px 0px;
			&:last-child{
				display: none;
			}
		}
		@media (max-width:$md4){
			right: 76px;
			width: 32px;
			height: 32px;
			margin: -16px 0px 0px 0px;
		}
	}

	// .header__slider
	&__slider {
		margin: 57px 0px 0px 0px;
		&>span{
			position: absolute;
			top: -115px;
			right: 417px;
			z-index: -1;
			width: 50px;
			height: 50px;
			background: rgba(246, 218, 204, 0.5);
			border-radius: 50%;
		}
		&::before, &::after{
			content: '';
			position: absolute;
			border-radius: 50%;
		}
		&::before{
			top: -15px;
			right: 434px;
			z-index: -1;
			width: 100px;
			height: 100px;
			background: rgba(246, 218, 204, 0.8);
		}
		&::after{
			top: -200px;
			right: -5px;
			z-index: -1;
			width: 400px;
			height: 400px;
			background: rgba(246, 218, 204, 0.89);
		}
		@media (max-width:$md1+px){
			margin: 30px 0px 0px 0px;
		}
		@media (max-width:$md3){
			margin: 120px 0px 0px 0px;
			&::before, &::after,&>span{
				display: none;
			}
		}
		@media (max-width:$md4){
			margin: 104px 0px 0px 0px;
		}
	}
	@media (max-width:$md3){
		background-color: rgba(255, 215, 197, 0.1);
	}
}
.menu {
	
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
		li{
			margin: 0px 25px;
			&:first-child{
				display: none;
			}
			&:nth-child(2){
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			@media (max-width:$md2){
				margin: 0px 10px;				
			}
		}
	}

	// .menu__link
	&__link {
		font-size: 15px;
		font-weight: 400;
		color: #372317;
		transition: color 0.3s ease 0s;
		&:hover{
			color: #EABEAB;
		}
	}
	@media (max-width:$md3){
		&__list{
			display: block;
			position: absolute;
			top: 72px;
			right: 0;
			z-index: 50;
			background: #fff;
			width: 390px;
			@include tr(100%,0,0);
			@include anim(0.3s,0s);
			&.active{
				@include tr(0,0,0);
			}
			li{
				margin: 0px 0px;
				&:nth-child(1){
					display: block;
					background: url('../img/header/menu/profile.svg') 16px 50% / 32px no-repeat;
				}
				&:nth-child(2){
					background: url('../img/header/menu/home.svg') 16px 50% / 32px no-repeat;
				}
				&:nth-child(3){
					background: url('../img/header/menu/about.svg') 16px 50% / 32px no-repeat;
				}
				&:nth-child(4){
					background: url('../img/header/menu/services.svg') 16px 50% / 32px no-repeat;
				}
				&:nth-child(5){
					background: url('../img/header/menu/stock.svg') 16px 50% / 32px no-repeat;
				}
				&:nth-child(6){
					background: url('../img/header/menu/contacts.svg') 16px 50% / 32px no-repeat;
				}
				&:active{
					background-color: rgba(255, 245, 240, 1);
				}
			}
			.profile-clone{
				font-size: 15px;
				font-weight: 400;
				color: #372317;
				display: block;
				padding: 12px 0px 12px 64px;
				pointer-events: none;
			}
		}
		&__link{
			display: block;
			padding: 12px 0px 12px 64px;
			color: #372317 !important;
		}
	}
	@media (max-width:$md4){
		&__list{
			top: 64px;
			width: 238px;
			li:nth-child(2){
				display: none;
			}
		}
	}
}
.slider {
	// .slider__body
	&__body {
		// .slider__body_h
		&_h{
			// .slider__row
			.slider__row {
				@include flexbox();
				align-items: flex-end;
				@media (max-width:$md2){
					align-items: flex-start;
				}
			}
	
			// .slider__content
			.slider__content {
				max-width: 45%;
				padding: 0px 0px 25px 2px;
			}
	
			// .slider__title
			.slider__title {
				margin: 0px 0px 20px 0px;
				font-weight: 500;
				font-size: 48px;
				line-height: 58.51px;
				span{
					color: #EABEAB;
				}
			}
	
			// .slider__text
			.slider__text {
				margin: 0px 0px 60px 0px;
				font-size: 20px;
				font-weight: 300;
				line-height: 24px;
			}
	
			// .slider__button
			.slider__button {
				height: 54px;
				padding: 0px 47px;
				border: 1px solid #372317;
				@include anim(0.3s,0s);
				span{
					font-size: 20px;
					font-weight: 300;
					line-height: 54px;
					color: #372317;
				}
			}
	
			// .slider__image
			.slider__image {
				margin: 0px 0px 0px 124px;
				img{
					max-width: 100%;
				}
			}
			@media (max-width:$md1+px){
				.slider__title{
					margin: 0px 0px 16px 0px;
				}
				.slider__text{
					margin: 0px 0px 40px 0px;
				}
				.slider__image{
					margin: 0px 0px 0px 0px;
				}
			}
			@media (max-width:$md3){
				.slider__row{
					display: block;
				}
				.slider__item{
					&:nth-child(2), &:nth-child(3){
						display: none;
					}
				}
				.slider__content{
					max-width: none;
					text-align: center;
					padding: 0px 0px 48px 0px;
				}
				.slider__title{
					max-width: 482px;
					margin: 0 auto 16px;
				}
				.slider__text{
					font-size: 18px;
					max-width: 635px;
					margin: 0 auto 40px;
				}
				.slider__image{
					display: none;
				}
			}
			@media (max-width:$md4){
				.slider__content{
					padding: 0px 0px 32px 0px;
				}
				.slider__title{
					font-size: 36px;
					line-height: 43.88px;
					margin: 0 auto 8px;
				}
				.slider__text{
					font-size: 14px;
					line-height: 17.07px;
				}
				.slider__button{
					height: 47px;
					span{
						font-size: 16px;
						line-height: 45px;
					}	
				}
			}
		}
		// .slider__body_c
		&_c {
			.slider__item{
				margin: 0px 30px 0px 0px;
				@media (max-width:$md3){
					margin: 0px 24px 0px 0px;
				}
			}
			// .slider__block
			.slider__block {
				position: relative;
				width: 100%;
    			height: 100%;
				border-radius: 20px 0 0 20px;
				overflow: hidden;
				&::after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 7;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.1);
					transition: all 0.5s ease-out 0s;
				}
				&:hover{
					&::after{
						@include tr(0,100%,0);
						opacity: 0;
					}
					.slider__icon{
						@include tr(0,0,0);
						opacity: 1;
						visibility: visible;
					}
				}
				@media (max-width:$md3){
					border-radius: 0 0 20px 20px;
				}
			}
		
			// .slider__image
			.slider__image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 20px 0px 0px 20px;
				@media (max-width:$md3){
					border-radius: 0 0 20px 20px;
				}
			}
		
			// .slider__label
			.slider__label {
				position: absolute;
				bottom: 10%;
    			left: 6%;
				font-size: 24px;
				font-weight: 500;
				line-height: 29px;
				color: #fff;
				@media (max-width:$md3){
					font-size: 18px;
				}
			}
		
			// .slider__icon
			.slider__icon {
				position: absolute;
				bottom: 9.3%;
				right: 9%;
				width: 32px;
				height: 32px;
				@include anim(1s,0s);
				@include tr(-300px,0,0);
				opacity: 0;
				visibility: 0;
			}
		}
		// .slider__body_o
		&_o {
			@include flexbox();
			justify-content: space-between;
			.slider__item{
				flex: 0 1 30%;
			}

			.slider__row{
				height: 100%;
				@include flexbox();
				flex-direction: column;
				border: 1px solid #EABEAB;
				border-radius: 20px 0 0 20px;
				box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
				text-align: center;
			}

			.slider__top{
				background-color: rgba(255, 215, 197, 0.1);
				position: relative;
				padding: 150px 0px 30px 0px;
			}

			.slider__image{
				position: absolute;
				top: 30px;
				left: 50%;
				margin: 0px 0px 0px -50px;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background-color: rgba(255, 215, 197, 0.3);
				.slider__icon{
					position: absolute;
					top: 10%;
					left: 10%;
					width: 80%;
					height: 80%;
				}
			}

			.slider__title{
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				color: #EABEAB;
			}

			.slider__info{
				flex: 1 0 auto;
				padding: 30px 0px 20px 0px;
			}

			.slider__text{
				font-size: 20px;
				font-weight: 200;
				line-height: 24px;
				span{
					font-size: 20px;
					font-weight: 400;
					line-height: 24px;
				}
				&:first-child{
					margin: 0px 0px 20px 0px;
				}
				&::before, &::after{
					content: '';
					display: inline-block;
					width: 32px;
					height: 32px;
					background: url('../img/offers/lotos.svg') center / cover no-repeat;
					margin: 0px 0px -10px 0px;
				}
				&::before{
					margin-right: 15px;
				}
				&::after{
					margin-left: 15px;
				}
			}

			.slider__bottom{
				padding: 20px 0px 20px 0px;
			}

			.slider__btn{
				height: 50px;
				border: 1px solid #EABEAB;
				padding: 0px 50px;
				span{
					line-height: 50px;
				}
			}
			@media (max-width:$md1+px){
				display: block;
				max-width: 800px;
				margin: 0px auto;
				.slider__item{
					margin: 0px 30px;
				}
			}
			@media (max-width:$md4){
				.slider__text{
					font-size: 14px;
					&::before{
						margin-right: 5px;
					}
					&::after{
						margin-left: 5px;
					}
				}
			}
		}
	}

	// .slider__item
	&__item {
	}
	
}

//====================================================================================================
.page{
	flex: 1 0 auto;
}

.title{
	font-size: 32px;
	font-weight: 400;
	line-height: 39.01px;
	margin: 0px 0px 30px 0px;
	@media (max-width:$md3){
		text-align: center;
	}
	@media (max-width:$md4){
		margin: 0px 0px 24px 0px;
	}
}

.text{
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	opacity: 0.8;
	@media (max-width:$md3){
		text-align: center;
		font-size: 18px;
	}
}

.category {
	padding: 50px 0px 50px 0px;
	// .category__title
	&__title {
	}

	// .category__slider
	&__slider {
		position: relative;
		width: 115%;
	}
	@media (max-width:$md3){
		padding: 30px 0px 30px 0px;
	}
}

.about {
	padding: 50px 0px 50px 0px;
	color: #372317;
	// .about__title

	&__title {
	}

	// .about__row
	&__row {
		@include flexbox();
	}

	//.about__item
	&__item{
		flex: 0 1 50%;
		position: relative;
	}

	// .about__image
	&__image {
		position: relative;
		img{
			max-width: 100%;
		}
		a{
			position: absolute;
			left: -5%;
			bottom: -4.6%;
			width: 110px;
			height: 100px;
		}
	}

	// .about__body
	&__body {
		padding: 0px 0px 0px 10px;
	}
	@media (max-width:$md1+px){
		&__row{
			display: block;
		}
		&__image{
			background: url('../img/about/02.png') center / cover no-repeat;
			padding: 0px 0px 50% 0px;
			margin: 0px 0px 30px 0px;
			img{
				display: none;
			}
			a{
				left: 0;
			}
		}
	}
	@media (max-width:$md2){
		&__image{
			a{
				bottom: -7%;
			}
		}
	}
	@media (max-width:$md3){
		padding: 30px 0px 30px 0px;
		&__body{
			padding: 0px 0px 0px 0px;
		}
		&__image{
			a{
				bottom: -8%;
				width: 95px;
			}
		}
	}
	@media (max-width:$md4){
		&__image{
			a{
				bottom: -20%;
			}
		}
	}
}

.body {
	// .body__title
	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 29px;
		margin: 0px 0px 20px 0px;
	}

	// .body__text
	&__text {
		margin: 0px 0px 40px 0px;
	}

	// .body__list
	&__list {
		@include flexbox();
		flex-wrap: wrap;
	}

	// .body__item
	&__item {
		flex: 0 1 50%;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		padding: 0px 0px 0px 65px;
		margin: 0px 0px 25px 0px;
		p{
			opacity: 0.8;
		}
		span{
			display: block;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
		}
		&:nth-child(1) {
			background: url('../img/about/icons/01.svg') left no-repeat;
		}
		&:nth-child(2) {
			background: url('../img/about/icons/04.svg') left no-repeat;
		}
		&:nth-child(3) {
			background: url('../img/about/icons/02.svg') left no-repeat;
		}
		&:nth-child(4) {
			background: url('../img/about/icons/05.svg') left no-repeat;
		}
		&:nth-child(5) {
			background: url('../img/about/icons/03.svg') left no-repeat;
			margin: 0px 0px 0px 0px;
		}
		&:nth-child(6) {
			background: url('../img/about/icons/06.svg') left no-repeat;
			margin: 0px 0px 0px 0px !important;
		}
	}
	@media (max-width:$md3){
		&__title{
			text-align: center;
			margin: 0px 0px 10px 0px;
		}
		&__text{
			margin: 0px 0px 20px 0px;
		}
		&__list{
			max-width: 600px;
			margin: 0px auto;
		}
		&__item{
			padding: 0px 0px 0px 50px;
		}
	}
	@media (max-width:$md4){
		&__list{
			display: block;
			max-width: 300px;
			margin: 0px auto;
		}
		&__item{
			margin: 0px 0px 10px 0px;
			font-size: 18px;
			span{
				font-size: 18px;
			}
			&:nth-child(5){
				margin: 0px 0px 10px 0px;
			}
		}
	}
}

.offers {
	padding: 50px 0px 50px 0px;
	// .offers__title
	&__title {
	}

	// .offers__text
	&__text {
		max-width: 915px;
		margin: 0px 0px 60px 0px;
	}

	// .offers__slider
	&__slider {
	}
	@media (max-width:$md3){
		padding: 30px 0px 30px 0px;
		&__text{
			margin: 0px 0px 30px 0px;
		}
	}
}

