//Шрифти
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

//Шрифт за замовчуванням
$fontfamily: 'Montserrat';

//Змінні
$minwidth:320px;
$mw:1230;
$md1:$mw+12;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;

//Скидування стилів
@import "nullstyle.scss";

//Імпортовані стилі
@import "mixins";
@import "ui";
@import "menu-burger";
@import "slick-slider";
@import "forms";

//Оболонка
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	@include flexbox();
	flex-direction: column;
	&.loaded{}
}

//Основна сітка
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	// @media (max-width:$md1){max-width: 970px;}
	// @media (max-width:$md2){max-width: 750px;}
	// @media (max-width:$md3){max-width: none;padding: 0 10px;}
	padding: 0px 10px;
}

//====================================================================================================
.header {
	// .header__row
	&__row {
		@include flexbox();
		align-items: center;
		height: 100px;
	}

	// .header__column
	&__column {
		flex: 0 1 20%;
		&:nth-child(2){
			flex: 0 1 60%;
		}
	}

	// .header__logo
	&__logo {
		a{
			font-weight: 500;
			font-size: 18px;
			color: #372317;
		}
	}

	// .header__menu
	&__menu {
	}

	// .header__icons
	&__icons {
		@include flexbox();
		justify-content: flex-end;
	}

	// .header__item
	&__item {
		position: relative;
		width: 32px;
		height: 32px;
		&:first-child{
			margin: 0px 25px 0px 0px;
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}

	// .header__slider
	&__slider {
		margin: 57px 0px 0px 0px;
		&>span{
			position: absolute;
			top: -115px;
			right: 417px;
			z-index: -1;
			width: 50px;
			height: 50px;
			background: rgba(246, 218, 204, 0.5);
			border-radius: 50%;
		}
		&::before, &::after{
			content: '';
			position: absolute;
			border-radius: 50%;
		}
		&::before{
			top: -15px;
			right: 434px;
			z-index: -1;
			width: 100px;
			height: 100px;
			background: rgba(246, 218, 204, 0.8);
		}
		&::after{
			top: -200px;
			right: -5px;
			z-index: -1;
			width: 400px;
			height: 400px;
			background: rgba(246, 218, 204, 0.89);
		}
	}
}
.menu {

	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
		li{
			margin: 0px 25px;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}

	// .menu__link
	&__link {
		font-size: 15px;
		font-weight: 400;
		color: #372317;
		@include anim(0.3s,0s);
		&:hover{
			color: #EABEAB;
		}
	}
}
.slider {
	// .slider__body
	&__body {
	}

	// .slider__item
	&__item {
	}

	// .slider__row

	&__row {
		@include flexbox();
		align-items: flex-end;
	}

	// .slider__content
	&__content {
		max-width: 45%;
		padding: 0px 0px 25px 2px;
	}

	// .slider__title
	&__title {
		margin: 0px 0px 20px 0px;
		font-weight: 500;
		font-size: 48px;
		line-height: 58.51px;
		span{
			color: #EABEAB;
		}
	}

	// .slider__text
	&__text {
		margin: 0px 0px 60px 0px;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
	}

	// .slider__button
	&__button {
		display: block;
		width: 211px;
		height: 54px;
		padding: 0px 32px;
		border: 1px solid #372317;
		border-radius: 20px 0px 0px 20px;
		text-align: center;
		@include anim(0.3s,0s);
		span{
			font-size: 20px;
			font-weight: 300;
			line-height: 50px;
			color: #372317;
		}
		&:hover{
			background-color: rgba(246, 218, 204, 0.6);
		}
		&:active{
			@include anim(0.3s,0s);
			background-color: #EABEAB;
			span{
				color: #fff;
			}
		}
	}

	// .slider__image

	&__image {
		margin: 0px 0px 0px 10.2%;
		img{
			max-width: 100%;
		}
		@media (max-width:$md2){
			margin: 0px 0px 0px 0px;
		}
	}
}


