//Шрифти
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

//Шрифт за замовчуванням
$fontfamily: 'Montserrat';

//Змінні
$minwidth:320px;
$mw:1230;
$md1:$mw+12;
$md2:992.98px;
$md3:834px;
$md4:428px;

//Скидування стилів
@import "nullstyle.scss";

//Імпортовані стилі
@import "mixins";
@import "ui";
@import "menu-burger";
@import "slick-slider";
@import "forms";

//Оболонка
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	@include flexbox();
	flex-direction: column;
	&.loaded{}
}

//Основна сітка
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2){max-width: 750px;}
	// @media (max-width:$md3){max-width: none;padding: 0 10px;}
	padding: 0px 5px;
}

//====================================================================================================
.header {
	// .header__row
	&__row {
		@include flexbox();
		align-items: center;
		height: 100px;
		@media (max-width:$md3){
			position: fixed;
			top: 0;
			left: 0;
			z-index: 5;
			width: 100%;
			height: 72px;
			background-color: #fff;
		}
		@media (max-width:$md4){
			height: 64px;
		}
	}

	// .header__column
	&__column {
		flex: 0 1 22%;
		&:nth-child(2){
			flex: 0 1 56%;
		}
	}

	// .header__logo
	&__logo {
		a{
			font-weight: 500;
			font-size: 18px;
			color: #372317;
		}
		@media (max-width:$md3){
			position: absolute;
			z-index: 6;
			top: 25px;
			left: 24px;
		}
		@media (max-width:$md4){
			top: 22px;
		}
	}

	// .header__menu
	&__menu {
	}

	// .header__icons
	&__icons {
		@include flexbox();
		justify-content: flex-end;
	}

	// .header__item
	&__item {
		position: relative;
		width: 32px;
		height: 32px;
		&:last-child{
			margin: 0px 0px 0px 25px;
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		@media (max-width:$md3){
			position: absolute;
			top: 20px;
			right: 93px;
			&:last-child{
				display: none;
			}
		}
		@media (max-width:$md4){
			top: 15px;
			right: 76px;
		}
	}

	// .header__slider
	&__slider {
		margin: 57px 0px 0px 0px;
		&>span{
			position: absolute;
			top: -115px;
			right: 417px;
			z-index: -1;
			width: 50px;
			height: 50px;
			background: rgba(246, 218, 204, 0.5);
			border-radius: 50%;
		}
		&::before, &::after{
			content: '';
			position: absolute;
			border-radius: 50%;
		}
		&::before{
			top: -15px;
			right: 434px;
			z-index: -1;
			width: 100px;
			height: 100px;
			background: rgba(246, 218, 204, 0.8);
		}
		&::after{
			top: -200px;
			right: -5px;
			z-index: -1;
			width: 400px;
			height: 400px;
			background: rgba(246, 218, 204, 0.89);
		}
		@media (max-width:$md1+px){
			margin: 30px 0px 0px 0px;
		}
		@media (max-width:$md3){
			margin: 120px 0px 0px 0px;
			&::before, &::after,&>span{
				display: none;
			}
		}
		@media (max-width:$md4){
			margin: 104px 0px 0px 0px;
		}
	}
	@media (max-width:$md3){
		background-color: rgba(255, 215, 197, 0.1);
	}
}
.menu {

	// .menu__icon
	&__icon {
		@media (max-width:$md4){
			top: 23.5px;
			right: 21px;
		}
	}

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
		li{
			margin: 0px 25px;
			&:first-child{
				display: none;
			}
			&:nth-child(2){
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			@media (max-width:$md2){
				margin: 0px 10px;				
			}
		}
	}

	// .menu__link
	&__link {
		font-size: 15px;
		font-weight: 400;
		color: #372317;
		transition: color 0.3s ease 0s;
		&:hover{
			color: #EABEAB;
		}
	}
	@media (max-width:$md3){
		&__list{
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 50;
			background: #fff;
			width: 390px;
			@include tr(100%,0,0);
			@include anim(0.3s,0.2s);
			&.active{
				@include tr(0,0,0);
			}
			li{
				margin: 0px 0px;
				&:nth-child(1){
					display: block;
					background: url('../img/header/menu/profile.svg') left / 32px no-repeat;
				}
				&:nth-child(2){
					background: url('../img/header/menu/home.svg') left / 32px no-repeat;
				}
				&:nth-child(3){
					background: url('../img/header/menu/about.svg') left / 32px no-repeat;
				}
				&:nth-child(4){
					background: url('../img/header/menu/services.svg') left / 32px no-repeat;
				}
				&:nth-child(5){
					background: url('../img/header/menu/stock.svg') left / 32px no-repeat;
				}
				&:nth-child(6){
					background: url('../img/header/menu/contacts.svg') left / 32px no-repeat;
				}
				&:active{
					background-color: rgba(255, 245, 240, 1);
				}
			}
			.profile-clone{
				font-size: 15px;
				font-weight: 400;
				color: #372317;
				display: block;
				padding: 17px 0px 17px 40px;
				pointer-events: none;
			}
		}
		&__link{
			display: block;
			padding: 17px 0px 17px 40px;
			color: #372317 !important;
		}
	}
	@media (max-width:$md4){
		&__list{
			width: 238px;
			li:nth-child(2){
				display: none;
			}
		}
	}
}
.slider {
	// .slider__body
	&__body {
	}

	// .slider__item
	&__item {
	}

	// .slider__row
	&__row {
		@include flexbox();
		align-items: flex-end;
		@media (max-width:$md2){
			align-items: flex-start;
		}
	}

	// .slider__content
	&__content {
		max-width: 45%;
		padding: 0px 0px 25px 2px;
	}

	// .slider__title
	&__title {
		margin: 0px 0px 20px 0px;
		font-weight: 500;
		font-size: 48px;
		line-height: 58.51px;
		span{
			color: #EABEAB;
		}
	}

	// .slider__text
	&__text {
		margin: 0px 0px 60px 0px;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
	}

	// .slider__button
	&__button {
		height: 54px;
		padding: 0px 47px;
		@include anim(0.3s,0s);
		span{
			font-size: 20px;
			font-weight: 300;
			line-height: 54px;
			color: #372317;
		}
		&:hover{
			background-color: rgba(246, 218, 204, 0.6);
		}
		&:active{
			@include anim(0.3s,0s);
			background-color: #EABEAB;
			span{
				color: #fff;
			}
		}
	}

	// .slider__image

	&__image {
		margin: 0px 0px 0px 124px;
		img{
			max-width: 100%;
		}
	}
	@media (max-width:$md1+px){
		&__title{
			margin: 0px 0px 16px 0px;
		}
		&__text{
			margin: 0px 0px 40px 0px;
		}
		&__image{
			margin: 0px 0px 0px 0px;
		}
	}
	@media (max-width:$md3){
		&__row{
			display: block;
		}
		&__item{
			&:nth-child(2), &:nth-child(3){
				display: none;
			}
		}
		&__content{
			max-width: none;
			text-align: center;
			padding: 0px 0px 48px 0px;
		}
		&__title{
			max-width: 482px;
			margin: 0 auto 16px;
		}
		&__text{
			font-size: 18px;
			max-width: 635px;
			margin: 0 auto 40px;
		}
		&__image{
			display: none;
		}
	}
	@media (max-width:$md4){
		&__content{
			padding: 0px 0px 32px 0px;
		}
		&__title{
			font-size: 36px;
			line-height: 43.88px;
			margin: 0 auto 8px;
		}
		&__text{
			font-size: 14px;
			line-height: 17.07px;
		}
		&__button{
			height: 47px;
			span{
				font-size: 16px;
				line-height: 45px;
			}	
		}
	}
}


